data/eh/input/bd30.zip
data/eh/input/bd29.zip
data/eh/input/bd28.zip
data/eh/input/bd27.zip
data/eh/input/bd26.zip
data/eh/input/bd25.zip
data/eh/input/bd24.zip
data/eh/input/bd23.zip
data/eh/input/bd22.zip
data/eh/input/2014_f2001/Cuestionario EH-2014.pdf
data/eh/input/2013_f2001/Cuestionario EH-2013.xls
data/eh/input/2013_f2001/BOLIVIA_VIVIENDA_2013.sav
data/eh/input/2013_f2001/BOLIVIA_PERSONAS_2013.sav
data/eh/input/2013_f2001/BOLIVIA_GASTOSNOALIMENTARIOS_2013.sav
data/eh/input/2013_f2001/BOLIVIA_GASTOSALIMENTARIOS_2013.sav
data/eh/input/2013_f2001/BOLIVIA_EQUIPAMIENTO_2013.sav
data/eh/input/2012_f2001/Cuestionario EH-2012.xls
data/eh/input/2012_f2001/BOLIVIA_VIVIENDA_2012.sav
data/eh/input/2012_f2001/BOLIVIA_PERSONAS_2012.sav
data/eh/input/2012_f2001/BOLIVIA_GASTOSNOALIMENTARIOS_2012.sav
data/eh/input/2012_f2001/BOLIVIA_GASTOSALIMENTARIOS_2012.sav
data/eh/input/2012_f2001/BOLIVIA_EQUIPAMIENTO_2012.sav
data/eh/input/2011_f2001/EH2011_Vivienda.sav
data/eh/input/2011_f2001/EH2011_Personas_y_Vivienda.sav
data/eh/input/2011_f2001/EH2011_Personas.sav
data/eh/input/2011_f2001/EH2011_GastosNoAlimentarios.sav
data/eh/input/2011_f2001/EH2011_GastosAlimentarios.sav
data/eh/input/2011_f2001/EH2011_Equipamiento.sav
data/eh/input/2011_f2001/Cuestionario EH-2011.pdf
data/eh/input/2009_f2001/EH 2009.rar
data/eh/input/2008_f2001/eh08_vivienda.sav
data/eh/input/2008_f2001/eh08_poblacion.sav
data/eh/input/2008_f2001/eh08_pecuaria.sav
data/eh/input/2008_f2001/eh08_gasto en alimentos.sav
data/eh/input/2008_f2001/eh08_equipamiento.sav
data/eh/input/2008_f2001/eh08_derivados.sav
data/eh/input/2008_f2001/eh08_agricola.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Vivienda.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_PobViv.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Poblacion.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Gasto en Alimentos.SAV
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Equipamiento del Hogar.SAV
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Vivienda.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Pobviv.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Poblacion.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Gastos Alimentos.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Equipamiento.sav
data/eh/input/2005_f2001/MANUAL DEL SUPERVISOR 2005.doc
data/eh/input/2005_f2001/MANUAL DEL ENCUESTADOR 2005.doc
data/eh/input/2005_f2001/CUESTIONARIO EH 2005 DEFINITIVO.xls
data/eh/input/2005_f2001/Bolivia_Subproductos.sav
data/eh/input/2005_f2001/Bolivia_Pecuaria.sav
data/eh/input/2005_f2001/Bolivia_Equipamiento.sav
data/eh/input/2005_f2001/Bolivia_Agricola.sav
data/eh/input/2005_f2001/BASE EH 2005 (Pob y Viv).sav
