data/eh/input/bd30.zip
data/eh/input/bd29.zip
data/eh/input/bd28.zip
data/eh/input/bd27.zip
data/eh/input/bd26.zip
data/eh/input/bd25.zip
data/eh/input/bd24.zip
data/eh/input/bd23.zip
data/eh/input/bd22.zip
data/eh/input/2014_f2001/Cuestionario EH-2014.pdf
data/eh/input/2013_f2001/Cuestionario EH-2013.xls
data/eh/input/2013_f2001/BOLIVIA_VIVIENDA_2013.sav
data/eh/input/2013_f2001/BOLIVIA_PERSONAS_2013.sav
data/eh/input/2013_f2001/BOLIVIA_GASTOSNOALIMENTARIOS_2013.sav
data/eh/input/2013_f2001/BOLIVIA_GASTOSALIMENTARIOS_2013.sav
data/eh/input/2013_f2001/BOLIVIA_EQUIPAMIENTO_2013.sav
data/eh/input/2012_f2001/Cuestionario EH-2012.xls
data/eh/input/2012_f2001/BOLIVIA_VIVIENDA_2012.sav
data/eh/input/2012_f2001/BOLIVIA_PERSONAS_2012.sav
data/eh/input/2012_f2001/BOLIVIA_GASTOSNOALIMENTARIOS_2012.sav
data/eh/input/2012_f2001/BOLIVIA_GASTOSALIMENTARIOS_2012.sav
data/eh/input/2012_f2001/BOLIVIA_EQUIPAMIENTO_2012.sav
data/eh/input/2011_f2001/EH2011_Vivienda.sav
data/eh/input/2011_f2001/EH2011_Personas_y_Vivienda.sav
data/eh/input/2011_f2001/EH2011_Personas.sav
data/eh/input/2011_f2001/EH2011_GastosNoAlimentarios.sav
data/eh/input/2011_f2001/EH2011_GastosAlimentarios.sav
data/eh/input/2011_f2001/EH2011_Equipamiento.sav
data/eh/input/2011_f2001/Cuestionario EH-2011.pdf
data/eh/input/2009_f2001/EH 2009.rar
data/eh/input/2008_f2001/eh08_vivienda.sav
data/eh/input/2008_f2001/eh08_poblacion.sav
data/eh/input/2008_f2001/eh08_pecuaria.sav
data/eh/input/2008_f2001/eh08_gasto en alimentos.sav
data/eh/input/2008_f2001/eh08_equipamiento.sav
data/eh/input/2008_f2001/eh08_derivados.sav
data/eh/input/2008_f2001/eh08_agricola.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Vivienda.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_PobViv.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Poblacion.sav
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Gasto en Alimentos.SAV
data/eh/input/2007_f2001/BASE EH 2007/EH2007_Equipamiento del Hogar.SAV
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Vivienda.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Pobviv.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Poblacion.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Gastos Alimentos.sav
data/eh/input/2006_f2001/BASE EH 2006/EH2006_Equipamiento.sav
data/eh/input/2005_f2001/MANUAL DEL SUPERVISOR 2005.doc
data/eh/input/2005_f2001/MANUAL DEL ENCUESTADOR 2005.doc
data/eh/input/2005_f2001/CUESTIONARIO EH 2005 DEFINITIVO.xls
data/eh/input/2005_f2001/Bolivia_Subproductos.sav
data/eh/input/2005_f2001/Bolivia_Pecuaria.sav
data/eh/input/2005_f2001/Bolivia_Equipamiento.sav
data/eh/input/2005_f2001/Bolivia_Agricola.sav
data/eh/input/2005_f2001/BASE EH 2005 (Pob y Viv).sav
data/eh/input/2011_f2014/Cuestionario EH-2011.pdf
data/eh/input/2011_f2014/EH2011_Equipamiento.sav
data/eh/input/2011_f2014/EH2011_GastosAlimentarios.sav
data/eh/input/2011_f2014/EH2011_GastosNoAlimentarios.sav
data/eh/input/2011_f2014/EH2011_Personas.sav
data/eh/input/2011_f2014/EH2011_Personas_y_Vivienda.sav
data/eh/input/2011_f2014/EH2011_Vivienda.sav
data/eh/input/2012_f2014/BOLIVIA_EQUIPAMIENTO_2012.sav
data/eh/input/2012_f2014/BOLIVIA_GASTOSALIMENTARIOS_2012.sav
data/eh/input/2012_f2014/BOLIVIA_GASTOSNOALIMENTARIOS_2012.sav
data/eh/input/2012_f2014/BOLIVIA_PERSONAS_2012.sav
data/eh/input/2012_f2014/BOLIVIA_VIVIENDA_2012.sav
data/eh/input/2012_f2014/Cuestionario EH-2012.xls
data/eh/input/2013_f2014/BOLIVIA_EQUIPAMIENTO_2013.sav
data/eh/input/2013_f2014/BOLIVIA_GASTOSALIMENTARIOS_2013.sav
data/eh/input/2013_f2014/BOLIVIA_GASTOSNOALIMENTARIOS_2013.sav
data/eh/input/2013_f2014/BOLIVIA_PERSONAS_2013.sav
data/eh/input/2013_f2014/BOLIVIA_VIVIENDA_2013.sav
data/eh/input/2013_f2014/Cuestionario EH-2013.xls
data/eh/input/2014_f2001/EH2014_Equipamiento.sav
data/eh/input/2014_f2001/EH2014_GastosAlimentarios.sav
data/eh/input/2014_f2001/EH2014_GastosNoAlimentarios.sav
data/eh/input/2014_f2001/EH2014_Persona.sav
data/eh/input/2014_f2001/EH2014_Vivienda.sav
data/eh/input/2014_f2014/Cuestionario EH-2014.pdf
data/eh/input/2014_f2014/EH2014_Equipamiento.sav
data/eh/input/2014_f2014/EH2014_GastosAlimentarios.sav
data/eh/input/2014_f2014/EH2014_GastosNoAlimentarios.sav
data/eh/input/2014_f2014/EH2014_Persona.sav
data/eh/input/2014_f2014/EH2014_Vivienda.sav
data/eh/input/2015/CUESTIONARIO EH2015.pdf
data/eh/input/2015/EH2015_GASTOS ALIMENTARIOS.sav
data/eh/input/2015/EH2015_GASTOS EQUIPAMIENTO.sav
data/eh/input/2015/EH2015_GASTOS NOALIMENTARIOS.sav
data/eh/input/2015/EH2015_PERSONA.sav
data/eh/input/2015/EH2015_VIVIENDA.sav
data/eh/input/2016/CUESTIONARIO EH2016.pdf
data/eh/input/2016/EH2016_Equipamiento.sav
data/eh/input/2016/EH2016_Persona.sav
data/eh/input/2016/EH2016_SeguridadAlimentaria.sav
data/eh/input/2016/EH2016_Turismo.sav
data/eh/input/2016/EH2016_Vivienda.sav
data/eh/input/2017/CSV/EH2017_Cultura.csv
data/eh/input/2017/CSV/EH2017_Equipamiento.csv
data/eh/input/2017/CSV/EH2017_GastosAlimentarios.csv
data/eh/input/2017/CSV/EH2017_GastosNoAlimentarios.csv
data/eh/input/2017/CSV/EH2017_Persona.csv
data/eh/input/2017/CSV/EH2017_SeguridadAlimentaria.csv
data/eh/input/2017/CSV/EH2017_Vivienda.csv
data/eh/input/2017/CUESTIONARIO EH2017_Final.xlsx
data/eh/input/2017/SPSS/EH2017_Cultura.sav
data/eh/input/2017/SPSS/EH2017_Equipamiento.sav
data/eh/input/2017/SPSS/EH2017_GastosAlimentarios.sav
data/eh/input/2017/SPSS/EH2017_GastosNoAlimentarios.sav
data/eh/input/2017/SPSS/EH2017_Persona.sav
data/eh/input/2017/SPSS/EH2017_SeguridadAlimentaria.sav
data/eh/input/2017/SPSS/EH2017_Vivienda.sav
data/eh/input/2018/CSV/EH2018_Discriminacion.csv
data/eh/input/2018/CSV/EH2018_Equipamiento.csv
data/eh/input/2018/CSV/EH2018_GastosAlimentarios.csv
data/eh/input/2018/CSV/EH2018_GastosNoAlimentarios.csv
data/eh/input/2018/CSV/EH2018_Personas.csv
data/eh/input/2018/CSV/EH2018_SeguridadAlimentaria.csv
data/eh/input/2018/CSV/EH2018_SeguridadAlimentariafies.csv
data/eh/input/2018/CSV/EH2018_Vivienda.csv
data/eh/input/2018/CUESTIONARIO EH2018.pdf
data/eh/input/2018/SPSS/EH2018_Discriminacion.sav
data/eh/input/2018/SPSS/EH2018_Equipamiento.sav
data/eh/input/2018/SPSS/EH2018_GastosAlimentarios.sav
data/eh/input/2018/SPSS/EH2018_GastosNoAlimentarios.sav
data/eh/input/2018/SPSS/EH2018_Persona.sav
data/eh/input/2018/SPSS/EH2018_SeguridadAlimentaria.sav
data/eh/input/2018/SPSS/EH2018_SeguridadAlimentariafies.sav
data/eh/input/2018/SPSS/EH2018_Vivienda.sav
data/eh/input/bd31.zip
data/eh/input/bd32.zip
data/eh/input/bd33.zip
data/eh/input/bd34.zip
data/eh/input/bd35.zip
data/eh/input/bd39.zip
data/eh/input/bd41.zip
data/eh/input/bd43.zip
data/eh/.DS_Store
data/eh/input/.DS_Store
.DS_Store
data/.DS_Store
